.main> h1{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 5;
    margin-left: 16px;
    overflow-y: auto;
    border-right: 2px solid var(--birdybackground);
    scroll-behavior: smooth;
    
}


